header.header
  .header__wrapper
    .header__topBar
      img.header__logo(src="/images/Logo.svg")
      span.header__menu(onclick="openNav()") Menu
        img.header__menu_hamburger(src="/images/Hamburger.svg")
      .sidenav#sidenav
        span.closebtn(onclick="closeNav()") &times;
        a Menu
        a(href="/contactUs") Contact Information
        a Refund Policy
        a Allergy Information
        a Custom Orders
        br
        br
        a Legal
        include shoppingCart
    .header__subBar

  script.
    function openNav () {
      document.getElementById("sidenav").style.width = "333px";
    }

    function closeNav () {
      document.getElementById("sidenav").style.width = "0";
    }

    function removeItem (id) {
      $.ajax({
        type: 'POST',
        url: `/removeItem`,
        data: { item: id },
        success: function (resultData) {
          console.log(resultData)
          $('.cart').html(resultData.cart)
          $('.totals').html(resultData.totals)
        },
        error: function (error) {
          console.log(error)
          alert(error)
        }
      });
    }

    $('#checkout').on('click', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '/clearCart',
        success: function (resultData) {
          $('.cart').html(resultData.cart)
          $('.totals').html(resultData.totals)
        },
        error: function (error) {
          console.log(error)
          alert(error)
        }
      });
    });
