extends layout

block content
  include header.pug
  .section#jumbotron
    img#rectangle__custom(src=("/images/rectangle__custom.svg"))
    #rectangle__content
      h1.title__light Quality Cookies
      h3.title__light made with
      h2.title__light.red LOVE
  .section__end
    p.section__end_text Find something delicious below
  .section#menu
    .title
      h1.title__section_title Menu
      hr.title__section_title_divide
    .container
      .item__preview
        .row
          img.thumbnail(src=("https://images.unsplash.com/photo-1531022717358-b09206455881?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0a4d97a4297fce69dd5f86bf079bc5e0&auto=format&fit=crop&w=1650&q=80"))
        .row
          span.item__title Sugar Cookies
        .row
          span.item__rating 4.1/5
        .row
          .item__price
            span.item__price_value $4.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("https://images.unsplash.com/photo-1515686601649-829248db0fb8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7ab3c8ce8227bcd36e9c8904c9127ba&auto=format&fit=crop&w=800&q=60"))
        .row
          span.item__title Flake Cookies
        .row
          span.item__rating 3/5
        .row
          .item__price
            span.item__price_value $2.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("https://images.unsplash.com/photo-1511459241548-45c3ca4e07a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f9cfb837e506e90320c5c4f3adb43bec&auto=format&fit=crop&w=1650&q=80"))
        .row
          span.item__title Cinnamon Cookies
        .row
          span.item__rating 3.5/5
        .row
          .item__price
            span.item__price_value $4.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("https://images.unsplash.com/photo-1534492652479-14861a759d2e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a36eb38dfe94c078f09e930c699d6e95&auto=format&fit=crop&w=1638&q=80"))
        .row
          span.item__title Gooey Chocolate Chip
        .row
          span.item__rating 4.8/5
        .row
          .item__price
            span.item__price_value $8.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("http://divascancook.com/wp-content/uploads/2016/07/mm-cookies-recipe-1024x576.jpg"))
        .row
          span.item__title M&M Cookies
        .row
          span.item__rating 3.9/5
        .row
          .item__price
            span.item__price_value $6.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("https://images.unsplash.com/photo-1536688261748-9d56b3acf077?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c2b6fa9b053d05fe8cb7b9be35653017&auto=format&fit=crop&w=800&q=60"))
        .row
          span.item__title Cayla Cakes (assortment)
        .row
          span.item__rating 4.8/5
        .row
          .item__price
            span.item__price_value $12.99
            br
            small.item__price_subtext per order
          button.item__add_to_cart Add to Cart
  .section#cayla
    .title
      h1.title__section_title.white Meet Cayla
      hr.title__section_title_divide
    .container
      .row
        .image-cropper
          img#cayla_profile_picture(src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/12187846_10205368367354768_4932615982923177435_n.jpg?_nc_cat=104&oh=695037a90b98683dd5388950cb835dfd&oe=5C4B6F89")
        #about
          p.about__text Cayla is a young baker with a passion for healthy living. She studied at Texas A&M before transferring to San Diego State University. Cayla lives on a strict diet, and finding "off the shelf" bakery snakes that taste great has proven difficult. So, taking matters into her own hands, she started baking healthy gluten free cookies. After some trial and error she has dialed in her recipe and is ready share delicious cookies with you.
          p.about__text When Cayla isn't baking, you can find her out enjoying the outdoors. She is an avid golfer, hiker, skier, swimmer, guitarist, and off road enthusiast. Cayla enjoys all aspects of life, making the most of every day. Her experiences make her a powerful person and excellent role model/leader.
          p.about__text If you are looking for delicious, healthy, homemade cookies crafted by someone who lives life to the fullest <br><br> Then contact Cayla, and she will take care of you.
  footer.footer
    p.footer__text CaylaCakes © 2019
    p.footer__text made with <span class="red">❤</span>