extends layout

block content
  include header.pug
  .section#jumbotron
    img#rectangle__custom(src=("/images/rectangle__custom.svg"))
    #rectangle__content
      h1.title__light Quality Cookies
      h3.title__light made with
      h2.title__light.red LOVE
  .section__end
    p.section__end_text Find something delicious below
  .section#menu
    .container
      .item__preview
        .row
          img.thumbnail(src=("/images/background-01__unsplash.png"))
        .row
          span.item__title Title
        .row
          span.item__rating 4.5/5
        .row
          .item__price
            span.item__price_value $8.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("/images/background-01__unsplash.png"))
        .row
          span.item__title Title
        .row
          span.item__rating 4.5/5
        .row
          .item__price
            span.item__price_value $8.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("/images/background-01__unsplash.png"))
        .row
          span.item__title Title
        .row
          span.item__rating 4.5/5
        .row
          .item__price
            span.item__price_value $8.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("/images/background-01__unsplash.png"))
        .row
          span.item__title Title
        .row
          span.item__rating 4.5/5
        .row
          .item__price
            span.item__price_value $8.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("/images/background-01__unsplash.png"))
        .row
          span.item__title Title
        .row
          span.item__rating 4.5/5
        .row
          .item__price
            span.item__price_value $8.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart
      .item__preview
        .row
          img.thumbnail(src=("/images/background-01__unsplash.png"))
        .row
          span.item__title Title
        .row
          span.item__rating 4.5/5
        .row
          .item__price
            span.item__price_value $8.99
            br
            small.item__price_subtext per dozen
          button.item__add_to_cart Add to Cart