.item__preview
  .row
    img.thumbnail(src=("https://images.unsplash.com/photo-1531022717358-b09206455881?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0a4d97a4297fce69dd5f86bf079bc5e0&auto=format&fit=crop&w=1650&q=80"))
  .row
    span.item__title Sugar Cookies
  .row
    span.item__rating 4.1/5
  .row
    .item__price
      span.item__price_value $4.99
      br
      small.item__price_subtext per dozen
    button#sugarCookie.item__add_to_cart Add to Cart

  script.
    $('#sugarCookie').on('click', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '/addToCart',
        data: { name: 'Sugar Cookie', quantity: 1, unitPrice: 4.99 },
        success: function (resultData) {
          $('.cart').html(resultData.cart)
          $('.totals').html(resultData.totals)
        },
        error: function (error) {
          console.log(error)
          alert(error)
        }
      });
    });