.item__preview
  .row
    img.thumbnail(src=("https://images.unsplash.com/photo-1515686601649-829248db0fb8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7ab3c8ce8227bcd36e9c8904c9127ba&auto=format&fit=crop&w=800&q=60"))
  .row
    span.item__title Flake Cookies
  .row
    span.item__rating 3/5
  .row
    .item__price
      span.item__price_value $2.99
      br
      small.item__price_subtext per dozen
    button#flakeCookie.item__add_to_cart() Add to Cart

  script.
    $('#flakeCookie').on('click', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '/addToCart',
        data: { name: 'Flake Cookies', quantity: 1, unitPrice: 2.99 },
        success: function (resultData) {

        },
        error: function (error) {
          console.log(error)
          alert(error)
        }
      });
    });