.item__preview
  .row
    img.thumbnail(src=("https://images.unsplash.com/photo-1534492652479-14861a759d2e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a36eb38dfe94c078f09e930c699d6e95&auto=format&fit=crop&w=1638&q=80"))
  .row
    span.item__title Gooey Chocolate Chip
  .row
    span.item__rating 4.8/5
  .row
    .item__price
      span.item__price_value $8.99
      br
      small.item__price_subtext per dozen
    button#gooeyChocolateChip.item__add_to_cart() Add to Cart
  div#gooeyChocolateToast Added Gooey Chocolate Chip to Cart!

  script.
    $('#gooeyChocolateChip').on('click', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '/addToCart',
        data: { name: 'Gooey Chocolate Chip', quantity: 1, unitPrice: 8.99 },
        success: function (resultData) {
          $('.cart').html(resultData.cart)
          $('.totals').html(resultData.totals)
          var x = document.getElementById("gooeyChocolateToast")
          x.className = "show"
          setTimeout(function () {
            x.className = x.className.replace("show", "");
          }, 3000)
        },
        error: function (error) {
          console.log(error)
          alert(error)
        }
      });
    });