.item__preview
  .row
    img.thumbnail(src=("http://divascancook.com/wp-content/uploads/2016/07/mm-cookies-recipe-1024x576.jpg"))
  .row
    span.item__title M&M Cookies
  .row
    span.item__rating 3.9/5
  .row
    .item__price
      span.item__price_value $6.99
      br
      small.item__price_subtext per dozen
    button#mmCookie.item__add_to_cart() Add to Cart

  script.
    $('#mmCookie').on('click', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '/addToCart',
        data: { name: 'M&M Cookie', quantity: 1, unitPrice: 6.99 },
        success: function (resultData) {
          $('.cart').html(resultData.cart)
          $('.totals').html(resultData.totals)
        },
        error: function (error) {
          console.log(error)
          alert(error)
        }
      });
    });